.comunication {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   background-color: #191c19;
   width: 100%;
   height: auto;
   border-radius: 30px;
}
.comunication_form {
   padding-left: 125px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.comunication_form-title {
   font-weight: 400;
   font-size: 60px;
   line-height: 60px;
   color: white;
   padding-bottom: 60px;
   max-width: 554px;
}
.comunication_form > input {
   width: 100%;
   max-width: 567px;
   height: 60px;
   background: #3b3d3b;
   border-radius: 1000px;
   border: none;
   padding-left: 20px;
   margin-bottom: 26px;
}
input:focus {
   outline: none;
}
input::placeholder {
   color: white;
   font-weight: 400;
   font-size: 22px;
   line-height: 29px;
}
.button_form {
   max-width: 450px;
   width: 100%;
   height: 70px;
   background: #1bff07;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 60px;
   cursor: pointer;
}
.comunication_image > img {
   width: 100%;
}
@media (max-width: 1199px) {
   .comunication_image {
      display: none;
   }
   .comunication_form > input {
      width: calc(100% - 40px);
   }
   .comunication_form {
      padding-left: 50px;
   }
   .comunication_form-title {
      font-weight: 400;
      font-size: 40px;
      line-height: 40px;
      margin-top: 50px;
   }
   .button_form {
      width: calc(100% - 20px);
      margin-bottom: 52px;
   }
}
@media (max-width: 767px) {
   .comunication_form-title {
      font-weight: 400;
      font-size: 35px;
      line-height: 37px;
   }
   .comunication_form {
      padding-left: 15px;
   }
}
