.white_background {
   background-color: white;
   width: 100%;
   height: auto;
   border-radius: 30px 30px 0px 0px;
   margin-top: 10px;
}
.footer {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
.footer_link-soc {
   text-decoration: none;
   font-weight: 400;
   font-size: 22px;
   line-height: 30px;
   color: black;
}
.footer_link {
   padding-top: 83px;
   display: flex;
   gap: 24px;
}
.block-portfolio > h2 {
   font-weight: 400;
   font-size: 22px;
   line-height: 30px;
   padding-top: 76px;
   padding-bottom: 66px;
}
.block-portfolio > h3 {
   font-weight: 400;
   font-size: 20px;
   line-height: 27px;
   opacity: 0.5;
   padding-bottom: 32px;
}
.block-link > h2 {
   font-size: 20px;
   line-height: 27px;
   text-align: right;
   opacity: 0.5;
   padding-top: 59px;
   padding-bottom: 32px;
}
@media (max-width: 767px) {
   .footer {
      display: flex;
      flex-direction: column;
   }
   .footer_link {
      padding-top: 10px;
   }
   .block-portfolio > h2 {
      padding-top: 20px;
      padding-bottom: 10px;
   }
}
