html {
   scroll-behavior: smooth;
}
body {
   font-family: "IBM Plex Mono", monospace;
   letter-spacing: -0.03em;
}
header {
   padding-left: 135px;
   padding-top: 27px;
   display: flex;
}
.logo {
   background-color: black;
   padding: 15px 30px;
   color: #787478;
   font-size: 40px;
   width: 190px;
   border-radius: 60%;
   -webkit-box-shadow: -9px -12px 5px 0px rgba(0, 0, 0, 0.75);
   -moz-box-shadow: -9px -12px 5px 0px rgba(0, 0, 0, 0.75);
   box-shadow: -9px -12px 5px 0px rgba(0, 0, 0, 0.75);
}
.menu {
   margin-left: 502px;
   padding-top: 6px;
}
.link-nav {
   text-decoration: none;
   font-size: 18px;
   color: #ffffff;
   padding-right: 50px;
}
.background {
   background: url(../image/Top-7-Programing-Languages-for-Web-Development.jpg);
   width: 100%;
   height: 765px;
   background-size: cover;
}
.hello {
   padding-left: 125px;
}
.hello h2 {
   padding-top: 242px;
   width: 430px;
   font-weight: 400;
   font-size: 20px;
   line-height: 26px;
   color: #ffffff;
}
.hello h1 {
   font-weight: 400;
   font-size: 80px;
   line-height: 70px;
   color: #b8b6b8;
   padding-top: 20px;
}
.projects {
   padding-left: 120px;
   width: 100%;
   background-color: black;
   height: 100%;
}
.project {
   margin-bottom: 20px;
}
.projects > h2,
.projects > h3 {
   font-weight: 400;
   font-size: 55px;
   line-height: 72px;
   color: #ffffff;
   padding-top: 150px;
   padding-bottom: 40px;
}
.project-one {
   position: relative;
   width: 1150px;
   background: url(../image/project-one.png);
   background-size: cover;
   height: 550px;
   border-radius: 30px;
   border: 1px solid white;
   font-weight: 400;
   font-size: 35px;
   line-height: 46px;
}
.project-one h2 {
   position: absolute;
   left: 50px;
   bottom: 0px;
   color: #c8a2c8;
}
.project-one h3 {
   position: absolute;
   left: 50px;
   bottom: 60px;
   color: #c8a2c8;
}
.project-two {
   position: relative;
   width: 1150px;
   background: url(../image/project-two.png);
   background-size: cover;
   height: 550px;
   border-radius: 30px;
   font-weight: 400;
   font-size: 35px;
   line-height: 46px;
}
.project-two h2 {
   position: absolute;
   left: 50px;
   bottom: 0px;
   color: #c8a2c8;
}
.project-two h3 {
   position: absolute;
   left: 50px;
   bottom: 60px;
   color: #c8a2c8;
}
.project-three {
   position: relative;
   width: 1150px;
   background: url(../image/project-three.png);
   background-size: cover;
   height: 550px;
   border-radius: 30px;
   border: 1px solid white;
   font-weight: 400;
   font-size: 35px;
   line-height: 46px;
}
.project-three h2 {
   position: absolute;
   left: 50px;
   bottom: 0px;
   color: #c8a2c8;
}
.project-three h3 {
   position: absolute;
   left: 50px;
   bottom: 60px;
   color: #c8a2c8;
}
.project-four {
   position: relative;
   width: 1150px;
   background: url(../image/project-four.png);
   background-size: cover;
   height: 550px;
   border-radius: 30px;
   border: 1px solid white;
   font-weight: 400;
   font-size: 35px;
   line-height: 46px;
}
.project-four h2 {
   position: absolute;
   left: 50px;
   bottom: 0px;
   color: #c8a2c8;
}
.project-four h3 {
   position: absolute;
   left: 50px;
   bottom: 60px;
   color: #c8a2c8;
}
.showAllProjects {
   font-family: "IBM Plex Mono", monospace;
   letter-spacing: -0.03em;
   width: 582px;
   height: 153px;
   margin-top: 70px;
   border-radius: 10px;
   background-color: #c8a2c8;
   font-weight: 400;
   font-size: 30px;
   line-height: 39px;
}
.skill {
   width: 778px;
}
.skills h1 {
   font-weight: 400;
   font-size: 55px;
   line-height: 72px;
   color: #ffffff;
   margin-top: 130px;
}
.skill h5 {
   font-weight: 400;
   font-size: 35px;
   line-height: 46px;
   color: #c8a2c8;
   padding-top: 12px;
}
.skill h6 {
   font-weight: 400;
   font-size: 22px;
   line-height: 29px;
   color: #ffffff;
   padding-top: 15px;
   padding-bottom: 60px;
}
.skills-second p {
   font-weight: 400;
   font-size: 35px;
   line-height: 46px;
   color: #ffffff;
   width: 420px;
   padding-bottom: 74px;
}
.skills-second {
}
.skill-image {
   padding-top: 74px;
   width: 1150px;
   height: 250px;
}
.skill-text {
   padding-left: 40px;
   width: 1150px;
   height: 283px;
   background: #191c19;
   border-radius: 30px;
}
.skill-text > h2 {
   font-weight: 400;
   font-size: 55px;
   line-height: 72px;
   color: #c8a2c8;
   padding-bottom: 15px;
   padding-top: 40px;
}
.skill-text > h3 {
   font-weight: 400;
   font-size: 22px;
   line-height: 29px;
   color: white;
   width: 749px;
}
.skill-second:nth-last-child(1) {
   padding-bottom: 150px;
}
footer {
   background-color: #000000;
}
.inst > h2 {
   font-weight: 400;
   font-size: 35px;
   line-height: 60px;
   color: #ffffff;
   padding-bottom: 28px;
}
a {
   text-decoration: none;
   color: #c8a2c8;
}
.inst > h3 {
   font-weight: 400;
   font-size: 60px;
   line-height: 60px;
   color: #ffffff;
   padding-bottom: 20px;
}
.inst-photo {
   display: flex;
   width: 100%;
   height: 717px;
   background: #191c19;
   border-radius: 30px;
}
.inst {
   padding-left: 125px;
   padding-top: 325px;
   margin-right: 270px;
   width: 525px;
}
.photo > img {
   width: 715px;
}
.portfolio {
   background-color: #ffffff;
   width: 100%;
   height: 230px;
   border-top-right-radius: 30px;
   border-top-left-radius: 30px;
}
.portfolio h2 {
   padding-top: 76px;
   padding-left: 125px;
   font-weight: 400;
   font-size: 22px;
   line-height: 30px;
}
.portfolio h3 {
   padding-top: 66px;
   padding-left: 125px;
   font-weight: 400;
   font-size: 20px;
   line-height: 27px;
   opacity: 0.5;
}
