@import url("./background.css");
@import url("./project.css");
@import url("./competencies.css");
@import url("./services.css");
@import url("./comunication.css");
@import url("./footer.css");
html {
   scroll-behavior: smooth;
}
body {
   font-family: "IBM Plex Mono", monospace;
   letter-spacing: -0.03em;
   background-color: black;
}
.body-fixed {
   overflow: hidden;
}
.container {
   max-width: 1150px;
   width: 100%;
   margin: 0 auto;
}
@media (max-width: 1199px) {
   .container {
      max-width: calc(100% - 15px);
   }
}
