.services_title {
   font-weight: 400;
   font-size: 35px;
   line-height: 46px;
   color: white;
   max-width: 420px;
   padding-top: 150px;
   padding-bottom: 80px;
}
.services_block {
   padding-bottom: 40px;
}
.service_image > img {
   width: 100%;
   height: 200px;
}
.service_text {
   width: 100%;
   height: auto;
   background-color: #191c19;
   border-radius: 30px;
   display: flex;
   flex-direction: row;
   gap: 70px;
}
.service-text_title {
   font-weight: 400;
   font-size: 55px;
   line-height: 110%;
   color: #c55ec5;
   width: 44%;
   padding-left: 40px;
   padding-top: 40px;
   padding-bottom: 60px;
}
.service-text_subtitle {
   font-weight: 400;
   font-size: 22px;
   line-height: 29px;
   color: white;
   width: 45%;
   padding-top: 40px;
   padding-bottom: 60px;
}
@media (max-width: 1199px) {
   .service_image > img {
      height: 163px;
   }
   .service-text_title {
      font-size: 45px;
   }
   .service-text_subtitle {
      font-size: 18px;
      line-height: 23px;
   }
   .service_text {
      height: 229px;
   }
}
@media (max-width: 767px) {
   .service-text_subtitle {
      font-size: 18px;
      line-height: 23px;
      padding-top: 0px;
      width: 90%;
      padding-left: 20px;
   }
   .service-text_title {
      font-size: 28px;
      line-height: 36px;
      width: 100%;
      padding-bottom: 0px;
      padding-left: 20px;
   }
   .service_text {
      flex-direction: column;
      gap: 15px;
   }
   .service_text {
      height: auto;
   }
}
